<div class="main">
    <div class="top-section">
        <!-- some text  -->
        <div class="toptext-container">
            <h1>{{welcomeText | titlecase}}</h1>
            <p>collection of my all kinds of featured to small projects</p>
        </div>
        <!-- image, make it appear behind text stated above in small screen size -->
        <div class="topimg-container">
            <div class="wrapper mobile"></div>
            <img src="../../../assets/home-img.png" alt="image">
        </div>
    </div>
    <div class="feature-project">
        <!-- show featured projects first -->
    </div>
    <div class="project-list">
        <project-list [projects]="projectList"></project-list>
    </div>
</div>

