/* store-footer {
    position: relative;
    top: 90vh;
} */

.main {
    background-color: var(--sandDollar);
    color: #000;
}

.main.dark {
    background-color: var(--darkblue);
    color: #fff;
}

.nav-section {
    height: 10vh;
    
}
.content { 
    height: 90vh;
    overflow: auto;
    padding: var(--padding-y) var(--padding-x);
}