<form class="container-form" (ngSubmit)="onSubmit()">
    <div>
        <input name="projName" [(ngModel)] = "projName" class="inputs" type="text" placeholder="title" required>
    </div>
    <div>
        <textarea name="description" [(ngModel)] = "description" class="inputs" name="desc" id="desc" placeholder="description"></textarea>
    </div>
    <div>
        <input [(ngModel)]="img" name="img" class="inputs" type="file" placeholder="image" (change)="uploadFile($event)">
    </div>
    <div>
        <input name="tag" [(ngModel)] = "tag" class="inputs" type="text" placeholder="tags">
    </div>
    <div>
        <input class="inputs" type="text" [(ngModel)]="projLink" name="projLink" placeholder="project link">
    </div>

    <button type="submit">Submit</button>
</form>

<!-- showing list of projects data -->
<div *ngIf="allProjects$| async" class="data-section">
    <div class="data-container" *ngFor="let project of allProjects$ | async">
        <div>
            <p>
                <span>Proj name : </span> {{project.projName}}
            </p>
        </div>
        <div>
            <p>
                <span>Description : {{project.description}}</span>
            </p>
        </div>
        <div>
            <p>
                <span>Tags : {{project.tags | json}}</span>
            </p>
        </div>
        <div class="actions">
            <button>Edit</button>
            <button>Delete</button>
        </div>
    </div>
<div>

