.container-form {
    border: 1px dashed red;
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding-y) var(--padding-x);
    column-gap: var(--padding-x);
    align-items: center;
}

.inputs {
    padding: var(--padding-y) var(--padding-x);
}

.data-container {
    display: flex;
    overflow: auto;
    margin: var(--margin-y) auto;
    padding: var(--padding-y);
}

.data-container div {
    border: 1px solid gray;
    padding: var(--padding-y);
}

.data-section {
    max-height: 80%;
    overflow: auto;
}