header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px 20px;
}

header div {
    /* border: 2px solid black; */
}

header nav {
    /* border: 2px solid green; */
}

.brand-name {
    cursor:pointer;
}