/* You can add global styles to this file, and also import other style files */
:root {
    --sandDollar: #e5ddc8;
    --teal: #01949a;
    --darkblue:#333652;
    --red: #db1f48;
    --padding-y: 10px;
    --padding-x: 15px;
    --padding-big: 80px;
    --margin-y: 10px;
    --margin-x: 15px;
    --margin-big: 80px;
    --container-width: 70%;
    --br: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

/* Sand Dollar
#E5DDC8

Teal
#01949A

Navy Blue
#004369

Red
#DB1F48 */